.modalBackground {
    width: 460px; 
    max-height: 510px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 450px;
    max-height: 500px;
    border-radius: 12px;
    background-color: #444444  ;
    display: flex;
    flex-direction: column;
    padding: 25px;
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .close-button {
    width: 40px; 
    height: 40px; 
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
  }
  
  .close-icon {
    font-size: 15px; 
    color: #333; 
    color: white;
  }

  .p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    color: white;
  }
  
  .ul {
    list-style-type: none;
    padding: 0;
  }
  
  .li {
    font-size: 13px;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 5px;
    border-top: 1px solid #ccc;
    color: white;
    padding: 10px;
  }
  
  .p-name {
    font-size: 13px;
    text-align: left;
    font-weight: bold;
  }

  .comment-label {
    color: white;
  }
  
  .comment-input {
    background-color: #606060; 
    color: white; 
    border: none; 
    padding: 5px;
    border-radius: 5px; 
  }
  
  .comment-input:focus {
    outline: none; 
  }